{% extends "base.html" %}

{% block head %}
<title> Comments </title>
{% endblock %}



{% block body %}
<form action='/comments' , method='POST'>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name='username' required>
                <label for="username">Username</label>
            </div>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment" name='comment' required></textarea>
            <label for="comment">Comments</label>
        </div>
    </div>
    <br>
    <button class="btn btn-dark">upload</button>
</form>
<br>
<br>
<h1 class="display-4">Comments</h1>
<br>
{% for datum in data %}
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">{{ datum.username }}</h5>
      <p class="card-text">{{ datum.comment }}</p>
    </div>
  </div>
  <br><br>
{% endfor %}

{% endblock %}